<h1>Edit <%= @user.username %>'s profile</h1>

<%= form_for @user do |f| %>
<%= f.label "username" %>
<%= f.text_field "username" %><br>
<%= f.label "display name" %>
<%= f.text_field "display_name" %><br>
<%= f.label "icon link" %>
<%= f.text_field "icon" %><br>

<%= f.submit "Submit" %>
<% end %>

<br>
<a href="password">Change password.</a>
<br><br>
<%= link_to "Delete profile", @user, class: "btn btn-lg btn-danger", method: "delete" %>
