<h1>Edit <%= @user.username %>'s profile</h1>

<%= form_for @user do |f| %>
<%= f.label "username" %>
<%= f.text_field "username" %><br>
<%= f.label "display name" %>
<%= f.text_field "display_name" %><br>
<%= f.label "wallet" %>
<%= f.number_field "wallet" %><br>

<%= f.submit "Submit" %>
<% end %>
