<h1>Change password</h1>

  <%= label_tag "old password" %>
  <%= password_field "old_password", nil %>
<br>
  <%= form_for @user do |f| %>
  <%= f.label "new password" %>
  <%= f.password_field "password" %><br>

  <%= f.submit "Submit" %>
  <% end %>
