<h1><%= @user.username %>'s profile</h1>
<ul>
  <li>Name: <%= @user.display_name.titlecase %></li>
  <% @user.coins.each do |c| %>
  <li><%= c.pressing.name %></li>
  <img src="<%= c.pressing.image_url %>">
  <% end %>
</ul>
<br>
<center><%= link_to "Edit profile", edit_user_path, class: "btn btn-lg btn-primary" %></center>
