<h1><%= @user.username %>'s profile</h1>
<ul>
  <li>Name: <%= @user.display_name.titlecase %></li>
    <% @user.coins.each do |c| %>
    <li><%= c.pressing.name %></li>
    <img src="<%= c.pressing.image_url %>">
    <% end %>
  <li><%= @user.wallet %> <%= button_to "Add To Wallet", wallet_path, method: "get" %></li>
  <% @user.goldbuders.each do |g| %>
  <li><%= link_to g.display_name, g %></li>
  <% end %>
</ul>
<br>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<% if current_user == @user %>
  <center><%= link_to "Buy a coin", click_path, class: "btn btn-lg btn-primary", method: "post"%></center>
  <br>
  <center><%= link_to "Edit profile", edit_user_path, class: "btn btn-lg btn-primary" %></center>
  <br>
<% end %>
<% if current_user != @user && !current_user.goldbuders.include?(@user)%>
 <center><%= link_to "Add as Friend", add_goldbud_path, class: "btn btn-lg btn-primary", method: "post"%></center>
<% end %>
<% if current_user != @user && current_user.goldbuders.include?(@user)%>
 <center><%= link_to "Remove Friend", remove_goldbud_path(@user), class: "btn btn-lg btn-primary", method: "delete"%></center>
 <br>
<% end %>
