<div class="profile-header">
  <img class="icon" src="<%= @user.icon %>">
  <h1><%= @user.display_name.titlecase %></h1>
  <% if current_user == @user %>
    <h4><br>$<%= @user.wallet %><br> in wallet</h4>
  <% end %>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<% if current_user.coins.empty? && current_user == @user %>
<div>
  <center><%= link_to "BUY A COIN", click_path, class: "big-btn", method: "post" %></center>
  </div>
  <br>
<% end %>
<% if !current_user.coins.empty? && current_user == @user%>
<div>
  <center><%= link_to "Buy a coin", click_path, class: "btn btn-lg btn-primary", method: "post"%></center>
  </div>
  <br>
<%end%>
<% if current_user == @user %>
  <center><%= link_to "Edit profile", edit_user_path, class: "btn btn-lg btn-primary" %></center>
  <br>
  <center><%= link_to "Refill your wallet", wallet_path, class: "btn btn-lg btn-primary" %></center>
<% end %>
<% if current_user != @user && !current_user.goldbuders.include?(@user)%>
 <center><%= link_to "Add as Friend", add_goldbud_path, class: "btn btn-lg btn-primary", method: "post"%></center>
<% end %>
<% if current_user != @user && current_user.goldbuders.include?(@user)%>
 <center><%= link_to "Remove Friend", remove_goldbud_path(@user), class: "btn btn-lg btn-primary", method: "delete"%></center>
 <br>
<% end %>


</div>

<br>

<div class="collection">
  <% @pressings.each do |p|%>
      <% if @user.user_pressing_ids.include?(p.id) %>
      <div>
         <img src="<%= p.image_url %>">
         <h3><%= p.name.titlecase %> x <%= @user.user_pressing_ids.count(p.id) %></h3>
       </div>
    <%else%>
      <div>
        <img src="/assets/placeholder.png">
        <h3>You don't have this coin yet!</h3>
      </div>
    <%end%>
  <%end%>
</div>

<br>

<h1 class="goldbud_title">Goldbuds</h1>
<div class="collection">
  <% @user.goldbuders.each do |goldbud| %>
    <div class="goldbud">
      <img class="icon" src="<%= goldbud.icon %>">
      <h2><%= link_to goldbud.display_name.titlecase, goldbud %></h2>
    </div>
  <% end %>
</div>
