<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '/home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/home' %></li>
        <li><%= link_to "Help",   '/' %></li>
        <li><%= link_to "Log in", '/login' %></li>
        <li><%= link_to "Signup", '/signup' %></li>
        <li><%= link_to "Users", '/users' %></li>
      </ul>
    </nav>
  </div>
</header>
