<h1>Coins#new</h1>
<p>Find me in app/views/coins/new.html.erb</p>

<%= form_for @coin do |f| %>
<%= f.label "user_id" %>
<%= f.text_field "user_id" %><br>
<%= f.label "pressing_id" %>
<%= f.text_field "pressing_id" %><br>

<%= f.submit "Submit" %>
<% end %>
